<configuration>
	<!-- 控制台输出日志 -->  
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-5level %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]  %logger{100}[line:%L] - %msg%n</pattern>
		</layout>
	</appender>
  
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份)-->   
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>logs/es-demo_log.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<maxHistory>14</maxHistory>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100}[line:%L] - %msg%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework.data" level="ERROR" />
	<logger name="org.elasticsearch" level="ERROR" />
  	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="sqlFile" /> -->
	</root>
</configuration>